.definition {
  margin: 0px 0px;
  font-family: $title-font;
  font-size: 1.5rem;
  position: absolute;
  top: 56px;
  left: 261px;
  width: 320px;
  &:first-letter {
    text-transform: capitalize;
  }
}

.multiselect:hover + .definition, .multiselect--active + .definition {
  display: none;
}

.withDefinition {
  .multiselect {
    border: 1px solid transparent!important;
  }
}


@media (max-width: 1200px) {
  .header {
    .definition {
      display: none;
    }
  }
}
