.sentence {
  position: relative;
  margin: 0rem 0 -2rem 0;
  width: 100%;
  display: block;
  opacity: 1;
  margin-top: 1px;
  text-align: center;
  .pre {
    display: inline-block;
  }
}

@media (min-width: 750px) {
  .header .sentence {
    text-align: left;
  }
}
